meta(content="text/html;charset=UTF-8" http-equiv="Content-Type")
meta(http-equiv="Cache-Control" content="no-store")
meta(name="viewport" content="width=device-width, initial-scale=1")
title.
    #{appName} - Учет затрат        
link(
    href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700&subset=cyrillic,cyrillic-ext,latin-ext"
    rel="stylesheet")
link(rel="shortcut icon" href="favicon.ico")
link(rel="stylesheet" type="text/css" href="public/css/momonga-icon.css")