<div class="momo-login">
  <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
    <h3 class="uk-card-title">Sing up</h3>
    <div class="uk-margin">
      <label class="uk-form-label" for="login">Login</label>
      <div class="uk-form-controls">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input id="login" class="uk-input" type="text">
        </div>
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="password">Password</label>
      <div class="uk-form-controls">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
          <input id="password" class="uk-input" type="password">
        </div>
      </div>
    </div>
    <button class="uk-button uk-button-primary">Submit</button>
  </div>
</div>
