<div [formGroup]="loginForm" class="momo-login uk-container uk-flex uk-flex-center">
  <div class="uk-card uk-card-default uk-card-body">
    <h3 class="uk-card-title">
      Login
      <div *ngIf="loading$ | async" uk-spinner uk-spinner="ratio: 1" class="float-right"></div>
    </h3>
    <div class="uk-margin">
      <label class="uk-form-label" for="login">E-mail</label>
      <div class="uk-form-controls">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input
            required
            (keyup.enter)="signIn()"
            formControlName="email"
            [ngClass]="{'uk-form-danger': email.invalid && (email.dirty || email.touched)}"
            id="login"
            class="uk-input uk-form-width-large"
            type="text">
        </div>
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="uk-text-danger uk-text-small">
          E-mail is required.
        </div>
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="password">Password</label>
      <div class="uk-form-controls">
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
          <input
            required
            (keyup.enter)="signIn()"
            formControlName="password"
            [ngClass]="{'uk-form-danger': password.invalid && (password.dirty || password.touched)}"
            id="password"
            class="uk-input uk-form-width-large"
            type="password">
        </div>
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="uk-text-danger uk-text-small">
          Password is required.
        </div>
      </div>
    </div>
    <p *ngIf="errorMsg" class="uk-flex uk-flex-middle">
      <span class="uk-text-danger">{{ errorMsg }}</span>
      <a (click)="errorMsg=''" class="ml-2" uk-icon="icon: close"></a>
    </p>
    <button
      (click)="signIn()"
      [disabled]="(loading$ | async) || loginForm.invalid"
      class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">
      Login
    </button>
    <div class="uk-text-center">
      <a routerLink="/registration" class="uk-display-block">Registration</a>
      <a class="uk-display-block">Forgot password?</a>
    </div>
  </div>
</div>
