<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" href="#">
      <span class="mom-logo icon-momonga mr-2"></span>
      Momonga
    </a>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li>
        <a href="#">
          Main
        </a>
      </li>
      <li>
        <a href="#">
          Reports
        </a>
      </li>
      <li>
        <a href="#">
          Settings
        </a>
      </li>
    </ul>
  </div>
</nav>
