.header
    .menu
        .container
            include ../../templates/partials/logo/logo-text.jade
            include ../choose-lang/index

    .greeting
        include ../../templates/partials/logo/logo-svg.jade

        h1
            |Добро пожаловать на Momo Tyan!
        p.
            Учет затрат Momonga

        button
            |Войти

        button
            |Зарегистрироваться