//@import "compass/reset";
//@import "../_styles/reset";

//@import "~uikit/src/scss/variables.scss";
//@import "~uikit/src/scss/components/grid.scss";

@import "../../../node_modules/uikit/src/scss/variables-theme";
@import "../../../node_modules/uikit/src/scss/mixins-theme";

@import "../../../node_modules/uikit/src/scss/uikit-theme"; // обычные стили + стили для компоентов таких как акордион и т.д.
//@import "~uikit/src/scss/uikit.scss"; // обычные стили


@import "../../styles/common";

@import "../../styles/header";
@import "../../styles/logo";
@import "../../styles/choose-lang";

body {
    background-image: url("bg.jpg");
    background-position: center top;
    background-size: 100% auto;
    background-attachment: fixed;
}
.header {
    display: none;
}
.mom-content-wrapper {
    background: rgba(150,150,150,.5);
    width: 400px;
    box-shadow: 0 0 5px rgba(150,150,150,.5);
    @media screen and (max-width: 992px) {
        width: auto;
        margin: 0 20px;
    }

    .mom-logo-svg {
        margin: 70px auto 0;
        width: 150pt;
        height: 150pt;
    }
}